* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1em;
}

.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.7em 2em;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem
}

.error {
  background: red;
  color: #fff;
  padding: 1rem;
}